<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Email Verification</title>
</head>
<body>
    <div class="email-wrapper"  style="width:80%; min-height: 50vh; margin:auto;padding: 2em; padding-bottom: 0; padding-top: 0;">
        <div class="content">
            <h1 style="color:#065174;" >Hello {{ username }},</h1>
            <p style="margin-bottom: 30px;">Thank you for joining Zuans Book, we hope you are happy with the services we provide, click the button below to verify your account</p>
            <a style="display: inline-block; margin-top: 2rem; padding: 1em;outline: none;background-color:#065174;color:white; text-decoration: none;" href="{{ verifyLink }}">Verify Account</a>
        </div>
        <div class="footer" style="margin-top:4em" >
            <h3>Regards,</h3>
            <h1>Zuans Book</h1>
            <p>Let's Make Your Own Book</p>
            <hr style="width: 30%;  margin-left:0px; color:#ff0000;">
            <p>Created By<a href="https://web.facebook.com/juan.ewaldo.351" style="margin-left:.5em;" target="_blank">Juan</a></p>
        </div>
    </div>
</body>
</html>